
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1029]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer
import os
import json
from pprint import pprint
import datetime

from modules.JSONFramer import JSONFramer

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [1030]:
# ChatGPT 
def get_nested_value(data, *keys):
    try:
        for key in keys:
            data = data[key]
        return data
    except (TypeError, KeyError):
        return None

#make list of file names in data folder
file_list = os.listdir('../data')

# Create a dataframe to store all data
all_data = pd.DataFrame()

# i = 0

#loop through filenames in list 
for file in file_list:
    # i += 1
    # print(i)
    try:
        #load json object
        with open('../data/' + file) as f:
            nested_json = json.load(f)
            response_data = nested_json['data']['results']
            # List to store data from file
            extracted_data = []
            for result in response_data:
                row = {
                    'branding_name': nested_json['data']['results'][0]['branding'][0]['name'],  
                    'baths': get_nested_value(result, 'description', 'baths'),
                    'baths_1qtr': get_nested_value(result, 'description', 'baths_1qtr'),
                    'baths_3qr': get_nested_value(result, 'description', 'baths_3qr'),
                    'baths_full': get_nested_value(result, 'description', 'baths_full'),
                    'baths_half': get_nested_value(result, 'description', 'baths_half'),
                    'beds': get_nested_value(result, 'description', 'beds'),
                    'garage': get_nested_value(result, 'description', 'garage'),
                    'lot_sqft': get_nested_value(result, 'description', 'lot_sqft'),
                    'name': get_nested_value(result, 'description', 'name'),
                    'sold_date': get_nested_value(result, 'description', 'sold_date'),
                    'sold_price': get_nested_value(result, 'description', 'sold_price'),
                    'sqft': get_nested_value(result, 'description', 'sqft'),
                    'stories': get_nested_value(result, 'description', 'stories'),
                    'sub_type': get_nested_value(result, 'description', 'sub_type'),
                    'type': get_nested_value(result, 'description', 'type'),
                    'year_built': get_nested_value(result, 'description', 'year_built'),                    
                    'is_coming_soon': get_nested_value(result, 'flags', 'is_coming_soon'),
                    'is_contingent': get_nested_value(result, 'flags', 'is_contingent'),
                    'is_for_rent': get_nested_value(result, 'flags', 'is_for_rent'),
                    'is_foreclosure': get_nested_value(result, 'flags', 'is_foreclosure'),
                    'is_new_construction': get_nested_value(result, 'flags', 'is_new_construction'),
                    'is_new_listing': get_nested_value(result, 'flags', 'is_new_listing'),
                    'is_pending': get_nested_value(result, 'flags', 'is_pending'),
                    'is_plan': get_nested_value(result, 'flags', 'is_plan'),
                    'is_price_reduced': get_nested_value(result, 'flags', 'is_price_reduced'),
                    'is_subdivision': get_nested_value(result, 'flags', 'is_subdivision'),                   
                    'last_update_date': get_nested_value(result, 'last_update_date'),
                    'show_contact_an_agent': get_nested_value(result, 'lead_attributes', 'show_contact_an_agent'),
                    'list_date': get_nested_value(result, 'list_date'),
                    'list_price': get_nested_value(result, 'list_price'),
                    'listing_id': get_nested_value(result, 'listing_id'),
                    'city': get_nested_value(result, 'location', 'address', 'city'),
                    'lat': get_nested_value(result, 'location', 'address', 'coordinate', 'lat'),
                    'lon': get_nested_value(result, 'location', 'address', 'coordinate', 'lon'),
                    'line': get_nested_value(result, 'location', 'address', 'line'),
                    'postal_code': get_nested_value(result, 'location', 'address', 'postal_code'),
                    'state': get_nested_value(result, 'location', 'address', 'state'),
                    'state_code': get_nested_value(result, 'location', 'address', 'state_code'),
                    'open_houses': get_nested_value(result, 'open_houses'),
                    'price_reduced_amount': get_nested_value(result, 'price_reduced_amount'),
                    'brand_name': get_nested_value(result, 'products', 'brand_name'),
                    'property_id': get_nested_value(result, 'property_id'),
                    'status': get_nested_value(result, 'status'),
                    'tags': get_nested_value(result, 'tags'),
                }
                extracted_data.append(row)
        extracted_dataframe = pd.DataFrame(extracted_data).drop_duplicates("property_id")
        all_data = pd.concat([all_data, extracted_dataframe])
    except:
        continue
df = all_data
# # print(all_data.info())
print(df.shape)
df.head()

(8159, 45)

,branding_name,baths,baths_1qtr,baths_3qr,baths_full,baths_half,beds,garage,lot_sqft,name,sold_date,sold_price,sqft,stories,sub_type,type,year_built,is_coming_soon,is_contingent,is_for_rent,is_foreclosure,is_new_construction,is_new_listing,is_pending,is_plan,is_price_reduced,is_subdivision,last_update_date,show_contact_an_agent,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,open_houses,price_reduced_amount,brand_name,property_id,status,tags
0,Home Real Estate,2.0,None,None,2.0,NaN,3.0,1.0,3485.0,None,2024-01-16,259900,1963.0,2.0,None,single_family,1933.0,None,None,None,None,None,False,None,None,False,None,2024-01-16T18:11:11Z,True,2023-12-04T22:28:39.000000Z,259900,2962222019,Lincoln,40.783403,-96.696476,1707 Otoe St,68502,Nebraska,NE,None,10000.0,essentials,8474302107,sold,"[central_air, community_outdoor_space, den_or_..."
1,Home Real Estate,4.0,None,None,3.0,1.0,6.0,3.0,13939.0,None,2024-01-16,644000,4006.0,2.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2024-01-16T18:25:07Z,True,2023-09-07T16:39:30.000000Z,639000,2959451155,Lincoln,40.750953,-96.616857,7620 Stevens Ridge Rd,68516,Nebraska,NE,None,NaN,essentials,7691862344,sold,"[central_air, community_outdoor_space, dining_..."
2,Home Real Estate,4.0,None,None,4.0,NaN,6.0,2.0,6098.0,None,2024-01-16,355000,2774.0,2.0,None,single_family,1988.0,None,None,None,None,None,False,None,None,None,None,2024-01-16T16:36:15Z,True,2023-12-08T21:21:14.000000Z,359900,2962346182,Lincoln,40.859955,-96.68886,2118 Preamble Ct,68521,Nebraska,NE,None,NaN,essentials,7106649355,sold,"[central_air, community_outdoor_space, cul_de_..."
3,Home Real Estate,3.0,None,None,3.0,NaN,4.0,3.0,7085.0,None,2024-01-15,360000,2683.0,1.0,None,single_family,2015.0,None,None,None,None,None,False,None,None,None,None,2024-01-16T19:30:23Z,True,2023-12-01T15:45:26.000000Z,405000,2962110298,Lincoln,40.722685,-96.619601,7325 Yankee Woods Dr,68516,Nebraska,NE,None,NaN,essentials,7205802043,sold,"[central_air, community_outdoor_space, dishwas..."
4,Home Real Estate,1.0,None,None,1.0,NaN,2.0,NaN,6970.0,None,2024-01-12,134000,785.0,1.0,None,single_family,1955.0,None,None,None,None,None,False,None,None,None,None,2024-01-12T21:42:29Z,True,2024-01-01T14:35:01.000000Z,144900,2962826454,Lincoln,40.838597,-96.637815,2601 N 61st St,68507,Nebraska,NE,None,NaN,essentials,8239445138,sold,"[forced_air, basement, single_story, rental_pr..."

In [1031]:
df.reset_index(drop=True, inplace=True)
# df.info()

In [1032]:
#count unique property ids
df['property_id'].nunique()
#1795 unique property_ids in a dataframe of 8159 rows indicates that row duplication exists for each property

1795

In [1033]:
#display df sorted by 'property_id' column to visually inspect the data
df.sort_values(by=['property_id']).head(6)
#Quick check shows that multiple values for 'branding_name' column exist for each property_id

,branding_name,baths,baths_1qtr,baths_3qr,baths_full,baths_half,beds,garage,lot_sqft,name,sold_date,sold_price,sqft,stories,sub_type,type,year_built,is_coming_soon,is_contingent,is_for_rent,is_foreclosure,is_new_construction,is_new_listing,is_pending,is_plan,is_price_reduced,is_subdivision,last_update_date,show_contact_an_agent,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,open_houses,price_reduced_amount,brand_name,property_id,status,tags
6194,Compass,3.0,None,None,3.0,NaN,3.0,5.0,43560,None,2023-12-15,925000,2980.0,1.0,None,single_family,1978.0,None,None,None,None,None,False,None,None,None,None,2023-12-15T21:25:24Z,True,2023-09-25T16:20:27.000000Z,925000,2959966417,Carson City,39.093819,-119.79112,3527 Arcadia Dr,89705,Nevada,NV,None,NaN,basic_opt_in,1003442504,sold,"[community_outdoor_space, energy_efficient, fa..."
1837,"Weichert, Realtors - Courtney Valleywide",3.0,None,None,3.0,None,4.0,2.0,95832.0,None,2023-12-22,625600,2136.0,1.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2023-12-23T09:05:36Z,True,2023-11-20T16:22:33.000000Z,600000,2961854149,Phoenix,33.804177,-112.056055,35033 N 12th St,85086,Arizona,AZ,None,NaN,basic_opt_in,1007849822,sold,"[single_story, garage_1_or_more, garage_2_or_m..."
7199,My Home Group Real Estate,3.0,None,None,3.0,None,4.0,2.0,95832.0,None,2023-12-22,625600,2136.0,1.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2023-12-23T09:05:36Z,True,2023-11-20T16:22:33.000000Z,600000,2961854149,Phoenix,33.804177,-112.056055,35033 N 12th St,85086,Arizona,AZ,None,NaN,basic_opt_in,1007849822,sold,"[single_story, garage_1_or_more, garage_2_or_m..."
571,Cooper Premier Properties Llc,3.0,None,None,3.0,None,4.0,2.0,95832.0,None,2023-12-22,625600,2136.0,1.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2023-12-23T09:05:36Z,True,2023-11-20T16:22:33.000000Z,600000,2961854149,Phoenix,33.804177,-112.056055,35033 N 12th St,85086,Arizona,AZ,None,NaN,basic_opt_in,1007849822,sold,"[single_story, garage_1_or_more, garage_2_or_m..."
6386,Keller Williams Realty Sonoran Living,3.0,None,None,3.0,None,4.0,2.0,95832.0,None,2023-12-22,625600,2136.0,1.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2023-12-23T09:05:36Z,True,2023-11-20T16:22:33.000000Z,600000,2961854149,Phoenix,33.804177,-112.056055,35033 N 12th St,85086,Arizona,AZ,None,NaN,basic_opt_in,1007849822,sold,"[single_story, garage_1_or_more, garage_2_or_m..."
3479,"Sell Your Home Services, Inc.",3.0,None,None,3.0,None,4.0,2.0,95832.0,None,2023-12-22,625600,2136.0,1.0,None,single_family,1996.0,None,None,None,None,None,False,None,None,None,None,2023-12-23T09:05:36Z,True,2023-11-20T16:22:33.000000Z,600000,2961854149,Phoenix,33.804177,-112.056055,35033 N 12th St,85086,Arizona,AZ,None,NaN,basic_opt_in,1007849822,sold,"[single_story, garage_1_or_more, garage_2_or_m..."

In [1034]:
#check shape of the df after dropping duplicated 'branding_name' column and unhashable 'tags' column
temp_dataframe = df.drop(columns =['branding_name','tags'])
temp_dataframe.drop_duplicates().shape
#1795 rows is same number as unique property ids, therefore eliminating the branding_name column will remove duplicates

(1795, 43)

In [1035]:
# #Note: the 'tags' column was checked for duplication by converting the list type of each value to a string and then applying '.drop_duplicates'

# def tas_to_string...

# string_data = all_data
# string_data.loc[:, 'tags'] = string_data['tags'].apply(lambda x: tags_to_string(x))

# string_data.drop_duplicates().info()

# # No duplication was found

In [1036]:
#check to see how many unique 'branding_name' values there are (just in case there were only a few and we could keep this column)
len(df['branding_name'].unique())
#As expected, there are too many (172) so the column can be dropped

172

**-Drop Columns:**

In [1037]:
#drop the 'branding_name' column 
#also drop all columns with 0 non-null values including the following:
df = df.drop(columns = ['branding_name', 'baths_1qtr', 'baths_3qr', 'name', 'is_coming_soon', 'is_contingent', 'is_for_rent', 'is_new_construction', 'is_pending', 'is_plan', 'is_subdivision', 'open_houses'])

# df = dataframe.drop_duplicates()
# df.info()

**-Drop rows where target column is null:**

In [1038]:
#Because our model's target variable is 'sold_price', we can drop all rows where this is null
df.dropna(subset=['sold_price'], inplace=True)
df.shape

(6716, 33)

**-Encode 'tags' in columns:**

In [1039]:
#we need to explode and one-hot-code the 'tags' column
#(this needs to be done before dropping duplicated as the list data type for tags values is unhashable)

In [1040]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
s = df['tags'].apply(lambda x: x if x is not None else [])
binarized_tags = pd.DataFrame(mlb.fit_transform(s),columns=mlb.classes_, index=df.index)

binarized_tags.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6716 entries, 0 to 8158
Columns: 152 entries, baseball to wrap_around_porch
dtypes: int64(152)
memory usage: 7.8 MB

In [1041]:
df = df.merge(binarized_tags, left_index=True, right_index=True).drop(columns='tags')
df = df.drop_duplicates()

In [1042]:
df.columns

Index(['baths', 'baths_full', 'baths_half', 'beds', 'garage', 'lot_sqft',
       'sold_date', 'sold_price', 'sqft', 'stories',
       ...
       'views', 'volleyball', 'washer_dryer', 'water_view', 'waterfront',
       'well_water', 'white_kitchen', 'wine_cellar', 'wooded_land',
       'wrap_around_porch'],
      dtype='object', length=184)

In [1043]:
#Drop 'tags' column
#Perform count for all newly created binary tag columns / by total row count
#Drop all binary tag columns that are represented in less that [10%?] of the data



binarized_tags_dict = (df.loc[:, mlb.classes_.tolist()].sum()/df.shape[0]).to_dict()

binarized_tags_list = []

for key in binarized_tags_dict.keys():
    if binarized_tags_dict[key] < 0.05:
        binarized_tags_list.append(key)

print(binarized_tags_list[0:5])
len(binarized_tags_list)

['baseball', 'basketball', 'basketball_court', 'beach', 'beautiful_backyard']

105

In [1044]:
df = df.drop(columns=binarized_tags_list)

In [1045]:
# df.info()

**-Fill N/A Values**

In [1046]:
#fill N/A values with zeros for 'baths_half', 'garage', price_reduced_amount
df.update(df[['baths_full','baths_half', 'garage', 'price_reduced_amount']].fillna(0))

In [1047]:
#fill N/A values with 'False' for 'is_price_reduced'
df['is_price_reduced'].fillna(False, inplace=True)

**-Drop more unecessary Columns**

In [1048]:
#drop 'sub-type' column as it appears to be either missing or very similar to type in most instances
df.drop(columns='sub_type', inplace=True)

In [1049]:
#We can probably drop 'last_update' column as I assume it has to do with website or realtor activity
df.drop(columns='last_update_date', inplace=True)

In [1050]:
#Only False values for this column so we can drop it
#It might be the case that None type should be 'True' but I don't think we have enough info to make this inference
df.drop(columns='is_new_listing', inplace=True)

In [1051]:
#Not obvious what brand name is - I suggest we drop but we could also just try modelling with it left in
df.drop(columns='brand_name', inplace=True)

In [1052]:
#status is always sold so we can drop this
df.drop(columns='status', inplace=True)

In [1053]:
df.drop(columns='show_contact_an_agent', inplace=True)

In [1054]:
#Do we want to drop the foreclosure column because so few data points exist?
df.drop(columns='is_foreclosure', inplace=True)
#Alternatively we can just fill thse values null values with False

**-Fill NA values with zeros for 'baths','beds', 'sqft', 'stories', 'year_built' columns where value in 'type' column == land**

In [1055]:
# NA value check prior to fill
# df[df['beds'].isna()].head(2)
#major reason for NA values in 'baths','beds', 'sqft', 'stories', 'year_built' columns is that 'type' column == land

In [1056]:
#fill N/A values with zeros for 'baths','beds', 'sqft', 'stories', 'year_built' columns where value in 'type' column == land
df.update(df.loc[df['type'].isin(['land'])][['baths', 'beds', 'sqft', 'stories', 'year_built']].fillna(0))

In [1057]:
# NA value check following fill
# print(df[df['beds'].isna()].shape)

In [1058]:
# print(df.info())

#Remaining columns with Null values
# #   Column                       Non-Null Count  Dtype  
# ---  ------                       --------------  -----  
#  0   baths                        1446 non-null   float64
# 3   beds                         1438 non-null   object 
#  5   lot_sqft                     1275 non-null   object 
# 8   sqft                         1402 non-null   object 
#  9   stories                      1190 non-null   object 
#  10  type                         1471 non-null   object 
#  11  year_built                   1400 non-null   object 
# 13  list_date                    1412 non-null   object 
#  14  list_price                   1412 non-null   object 
#  15  listing_id                   1412 non-null   object 
#  16  city                         1474 non-null   object 
#  17  lat                          1435 non-null   object 
#  18  lon                          1435 non-null   object 
#  19  line                         1474 non-null   object

**-Drop Rows where value is NA for 'type' column**

In [1059]:
#Drop rows where 'type' coulmn is NA as listing type is used to fill following columns 
df.dropna(axis=0,subset=['type'], inplace=True)
df.shape
#only 4 listings lost and the rows lost were missing a lot of other features

(1471, 72)

**-Fill NA values in 'baths', 'beds', 'stories' with median value grouped by 'type' column**<br>
**-Fill NA values in 'lot_sqft', 'sqft' with mean value grouped by the 'type' column**

In [1060]:
# NA value check prior to fill
df[df['lot_sqft'].isna()].sample(10)

,baths,baths_full,baths_half,beds,garage,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,is_price_reduced,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,price_reduced_amount,property_id,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer
2884,1.0,1.0,0.0,2,0.0,NaN,2024-01-11,490000,882.0,1.0,condos,1900.0,False,2023-09-29T14:04:46.000000Z,499900,2960103717,Boston,42.285877,-71.047043,45 Minot St Unit 1,02122,Massachusetts,MA,40000.0,9640801276,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0
182,2.0,2.0,0.0,3.0,2.0,NaN,2024-01-05,284500,1635.0,2.0,condos,1990.0,False,2023-11-29T18:33:07.000000Z,279900,2962048902,Madison,43.018822,-89.508727,1 Bahr Cir,53719,Wisconsin,WI,0.0,7011923486,1,0,0,0,1,0,0,1,0,0,0,0,1,1,1,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1
3302,1.0,1.0,0.0,1.0,1.0,NaN,2023-12-06,328500,851.0,1.0,condos,1982.0,False,2023-10-23T19:02:06.000000Z,355000,2960802201,Denver,39.699414,-104.930495,4876 E Kentucky Ave Unit E,80246,Colorado,CO,0.0,1506573049,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1
491,0.0,0.0,0.0,0.0,0.0,NaN,2023-12-12,307300,0.0,0.0,land,0.0,False,None,NaN,None,Canal Winchester,39.891861,-82.852431,5342 Shannon Square Dr,43110,Ohio,OH,0.0,9008748993,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2864,2.0,2.0,0.0,2,0.0,NaN,2024-01-16,637500,1015.0,1.0,condos,1920.0,False,2024-01-16T23:13:19.000000Z,640000,2960660901,Boston,42.322468,-71.056564,834 Dorchester Ave Unit 2,02125,Massachusetts,MA,0.0,4104896773,1,0,0,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1
367,2.0,2.0,0.0,2.0,1.0,NaN,2024-01-12,202000,1379.0,2.0,townhomes,1875.0,False,2023-10-12T17:19:00.000000Z,209100,2960490369,Hartford,41.77253,-72.696671,12 Atwood St Unit B,06105,Connecticut,CT,400.0,3254986086,1,0,0,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1
417,2.0,2.0,0.0,3.0,0.0,NaN,2023-11-19,19900.0,NaN,NaN,mobile,1994.0,False,2023-09-13T12:28:01.000000Z,19900.0,2959619064,Springfield,39.847942,-89.626747,3430 N Peoria Dr Unit NB111,62702,Illinois,IL,0.0,9893909070,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
527,0.0,0.0,0.0,0.0,0.0,NaN,2023-09-12,350300,0.0,0.0,land,0.0,False,None,NaN,None,Canal Winchester,39.890645,-82.851837,5367 Coble Park Dr,43110,Ohio,OH,0.0,9757638699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2539,2.0,1.0,1.0,1.0,3.0,NaN,2024-01-09,670000,1315.0,1.0,condos,2010.0,False,2023-09-25T20:41:58.000000Z,695000,2959976245,Atlanta,33.854571,-84.35839,3630 Peachtree Rd NE Unit 3106,30326,Georgia,GA,35000.0,5463775300,0,0,0,0,1,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,1,1,0
2281,1.0,1.0,0.0,3.0,0.0,NaN,2023-08-25,1035800,1350.0,1.0,single_family,1961.0,False,None,NaN,None,Nashville,NaN,NaN,6412B Premier Dr # A,37209,Tennessee,TN,0.0,9837886451,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [1061]:
#Fill NA values in 'baths' column with the median bath value grouped by the corresponding 'type' column  
df['baths'] = df['baths'].fillna(df.groupby('type')['baths'].transform('median'))

#Fill NA values in 'beds' column with the median beds value grouped by the corresponding 'type' column  
df['beds'] = df['beds'].fillna(df.groupby('type')['beds'].transform('median'))

#Fill NA values in 'stories' column with the median stories value grouped by the corresponding 'type' column  
df['stories'] = df['stories'].fillna(df.groupby('type')['stories'].transform('median'))

#Fill NA values in 'lot_sqft' column with the mean lot_sqft value grouped by the corresponding 'type' column  
df['lot_sqft'] = df['lot_sqft'].fillna(df.groupby('type')['lot_sqft'].transform('mean'))

#Fill NA values in 'sqft' column with the mean sqft value grouped by the corresponding 'type' column  
df['sqft'] = df['sqft'].fillna(df.groupby('type')['sqft'].transform('mean'))

/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [1062]:
# NA value check following fill
# df.loc[df['property_id'].isin(['7526785866', '4104926733', '4750734663'])]

**-Fill NA values in 'year_built' with median value grouped by 'type' column**

In [1063]:
# NA value check prior to fill
df[df['year_built'].isna()].head(3)

,baths,baths_full,baths_half,beds,garage,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,is_price_reduced,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,price_reduced_amount,property_id,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer
43,0.0,0.0,0.0,0.0,0.0,24534.195789,2023-12-18,54167,1918.739085,1.0,single_family,NaN,False,2023-10-16T18:28:32.000000Z,5000,2960589662,Columbia,34.094311,-81.034111,412 Lincolnshire North Dr,29203,South Carolina,SC,0.0,9297193651,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48,1.0,1.0,0.0,3.0,0.0,213444.000000,2023-11-14,220000,1918.739085,1.0,single_family,NaN,False,2023-08-11T16:10:22.000000Z,249900,2958587647,Columbia,34.120129,-80.992505,9124 Wilson Blvd,29203,South Carolina,SC,0.0,5362386625,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0
50,0.0,0.0,0.0,0.0,0.0,24534.195789,2023-10-27,53591,1918.739085,1.0,single_family,NaN,False,2023-06-22T17:25:37.000000Z,5000,2956976488,Columbia,34.041009,-81.023992,1800 Isabel St,29203,South Carolina,SC,0.0,6483495239,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [1064]:
#Fill NA values in 'year_built' column with the median year_built value grouped by the corresponding 'type' column  
df['year_built'] = df['year_built'].fillna(df.groupby('city')['year_built'].transform('median'))

/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [1065]:
# NA value check following fill
# df.loc[df['property_id'].isin(['9627477899', '8549151593', '8559138865'])]

**-Fill NA values in 'list_price' with value in 'sold_price' column**

In [1066]:
# NA value check prior to fill
# df[df['list_price'].isna()].head(3)

In [1067]:
df['list_price'] = df['list_price'].fillna(df['sold_price'])

In [1068]:
# NA value check following fill
# df.loc[df['property_id'].isin(['9940859323', '9291003749', '9233144971'])]

**-Fill single missing city value...**

In [1069]:
# NA value check prior to fill
# df[df['city'].isna()].head(3)

In [1070]:
# #Fill NA values in 'city' column with the median city value grouped by the corresponding 'postal_code' column  
# # Not wokring... Not sure why.  
# df['city'] = df['city'].fillna(df.groupby(['postal_code'])['city'].agg(pd.Series.mode))
# # Fill with 'Boston' for now...

df['city'] = df['city'].fillna('Boston')

In [1071]:
# NA value check following fill
# df.loc[df['property_id'].isin(['9712785298'])]

**-Fill NA values for 'lat' and 'lon' with median values grouped by 'state' and 'city' column**

In [1072]:
# NA value check prior to fill
# df[df['lat'].isna()].head(3)

In [1073]:
#Fill NA values in 'lat' column with the median lat value grouped by the corresponding 'state' and 'city' column  
df['lat'] = df['lat'].fillna(df.groupby(['state', 'city'])['lat'].transform('median'))

/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [1074]:
#Fill NA values in 'lon' column with the median lon value grouped by the corresponding 'postal_code' column  
df['lon'] = df['lon'].fillna(df.groupby(['state', 'city'])['lon'].transform('median'))

/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/tylan/anaconda3/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [1075]:
# NA value check following fill
# df.loc[df['property_id'].isin(['9934955122', '9118590787', '9904165467'])]

**-Convert 'sold_date' and 'list_date' to datetime values and remove timestamp from list_date**

In [1076]:
#Check prior to datetime and format conversion
print(df.iloc[:,:14].head(1))

   baths baths_full baths_half  beds garage  lot_sqft   sold_date sold_price  \
0    2.0        2.0        0.0   3.0    1.0    3485.0  2024-01-16     259900

     sqft  stories           type  year_built  is_price_reduced  \
0  1963.0      2.0  single_family      1933.0             False

                     list_date
0  2023-12-04T22:28:39.000000Z

In [1077]:
# Convert 'sold_date' and 'list_date' to datetime
df['sold_date'] = pd.to_datetime(df['sold_date'])
# df['list_date'] = pd.to_datetime(df['list_date'], format='mixed')
df['list_date'] = df['list_date'].apply(lambda x: datetime.datetime.strptime(str(x)[:10], '%Y-%m-%d') if x is not None else None)
# df['list_date'] = pd.to_datetime(df['list_date'], format='%Y-%m-%d')
# df['list_date'] = df['list_date'].dt.date
# df['sold_date'] = df['sold_date'].dt.date

In [1078]:
#Check following datetime and format conversion
print(df.iloc[:,:14].head(1))
print(df['list_date'].dtype)
print(df['sold_date'].dtype)

   baths baths_full baths_half  beds garage  lot_sqft  sold_date sold_price  \
0    2.0        2.0        0.0   3.0    1.0    3485.0 2024-01-16     259900

     sqft  stories           type  year_built  is_price_reduced  list_date
0  1963.0      2.0  single_family      1933.0             False 2023-12-04
datetime64[ns]
datetime64[ns]

**-Fill NA values for list_date with sold_date subtract 75days**

In [1079]:
# NA value check prior to fill
df[df['list_date'].isna()].head(3)

,baths,baths_full,baths_half,beds,garage,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,is_price_reduced,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,price_reduced_amount,property_id,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer
410,0.0,0.0,0.0,3.0,0.0,24534.195789,2023-12-27,27065000.0,1918.739085,1.0,single_family,1995.0,False,NaT,27065000.0,None,Springfield,39.781624,-89.639238,3501 Old Jacksonville Rd,62711,Illinois,IL,0.0,9627477899,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
429,0.0,0.0,0.0,2.0,0.0,1517.500000,2023-08-14,119900.0,1389.500000,1.0,condo,1995.0,False,NaT,119900.0,None,Springfield,39.820301,-89.704559,83 Amherst Dr,62702,Illinois,IL,0.0,8559138865,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
434,0.0,0.0,0.0,3.0,0.0,10925.000000,2023-07-24,130000.0,1918.739085,1.0,single_family,1995.0,False,NaT,130000.0,None,Springfield,39.760722,-89.703887,416 Yeoman Dr,62704,Illinois,IL,0.0,7566735445,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [1080]:
# Fill NA values for list_date with (sold_date - 75days)
# df['list_date'] = df['list_date'].fillna(df['sold_date'])
df['list_date'] = df['list_date'].fillna(df['sold_date'] - pd.Timedelta(days=75))

# Convert the 'list_date' column to datetime format eagain
# df['list_date'] = pd.to_datetime(df['list_date'], errors='coerce')

# Extract only date part again
# df['list_date'] = df['list_date'].apply(lambda x: datetime.date(x))

In [1081]:
# NA value check following fill
print(df['sold_date'].dtype)
df.loc[df['property_id'].isin(['9940859323', '9291003749', '9233144971'])]

datetime64[ns]

,baths,baths_full,baths_half,beds,garage,lot_sqft,sold_date,sold_price,sqft,stories,type,year_built,is_price_reduced,list_date,list_price,listing_id,city,lat,lon,line,postal_code,state,state_code,price_reduced_amount,property_id,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer
1432,1.0,1.0,1.0,3.0,0.0,24534.195789,2023-08-23,1048000,799.0,1.0,single_family,1966.0,False,2023-06-09,1048000.0,None,Honolulu,21.277707,-157.810401,3331 Herbert St Apt A,96815,Hawaii,HI,0.0,9291003749,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1433,2.0,2.0,0.0,3.0,0.0,24534.195789,2023-07-24,1100000,2944.0,1.0,single_family,1961.0,False,2023-05-10,1100000.0,None,Honolulu,21.279435,-157.799782,3620 Pahoa Ave Apt A,96816,Hawaii,HI,0.0,9233144971,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4209,1.0,1.0,0.0,2.0,0.0,24534.195789,2023-09-29,880000,592.0,1.0,single_family,1929.0,False,2023-07-16,880000.0,None,Honolulu,21.287097,-157.810583,1115 2nd Ave Apt C,96816,Hawaii,HI,0.0,9940859323,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

**-Time on Market, Month/Year Sold/Listed Columns**

In [ ]:
df['sold_month'] = df['sold_date'].dt.month
df['sold_year'] = df['sold_date'].dt.year

In [ ]:
# df['list_date'] = pd.to_datetime(df['list_date'], errors='coerce')
df['list_month'] = df['list_date'].dt.month
df['list_year'] = df['list_date'].dt.year

In [ ]:
# df['list_date'] = pd.to_datetime(df['list_date'], errors='coerce')
# df['sold_date'] = pd.to_datetime(df['sold_date'], errors='coerce')

# create 'time_on_market' column calculated as (sold_date - list_date) 
df['time_on_market'] = (df['sold_date'] - df['list_date']).dt.days

**-Drop more columns which are not useful in EDA and modelling**

In [ ]:
#Drop 'line' coulmn because it throws off the analysis and is not useful
df.drop(columns='line', inplace=True)

#Drop listing_id because we already have property_id to use as a key and listing_id should not affect sold_price (theoretically:)
df.drop(columns='listing_id', inplace=True)

#Drop datetime columns now that we have created new featured from them that can be more effectively used in analysis
df.drop(columns= ['list_date', 'sold_date'], inplace=True)

**-Drop all rows that still have NA values**

In [ ]:
#Still a few NA values here and there probably were unable to fill via groupby medians, etc.
# print(df.info())
#dataframe has 1471 rows
print(df.info())
df.head(3)
#worth refining if there's time or just using the sklearn imputer

<class 'pandas.core.frame.DataFrame'>
Index: 1471 entries, 0 to 8117
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   baths                        1471 non-null   float64
 1   baths_full                   1471 non-null   object
 2   baths_half                   1471 non-null   object
 3   beds                         1469 non-null   float64
 4   garage                       1471 non-null   object
 5   lot_sqft                     1470 non-null   float64
 6   sold_price                   1471 non-null   object
 7   sqft                         1468 non-null   float64
 8   stories                      1468 non-null   float64
 9   type                         1471 non-null   object
 10  year_built                   1471 non-null   float64
 11  is_price_reduced             1471 non-null   bool
 12  list_price                   1471 non-null   float64
 13  city                         1471 non-null   object
 14  lat                          1465 non-null   float64
 15  lon                          1465 non-null   float64
 16  postal_code                  1471 non-null   object
 17  state                        1471 non-null   object
 18  state_code                   1471 non-null   object
 19  price_reduced_amount         1471 non-null   object
 20  property_id                  1471 non-null   object
 21  basement                     1471 non-null   int64
 22  big_lot                      1471 non-null   int64
 23  big_yard                     1471 non-null   int64
 24  carport                      1471 non-null   int64
 25  central_air                  1471 non-null   int64
 26  central_heat                 1471 non-null   int64
 27  city_view                    1471 non-null   int64
 28  community_outdoor_space      1471 non-null   int64
 29  community_security_features  1471 non-null   int64
 30  community_swimming_pool      1471 non-null   int64
 31  corner_lot                   1471 non-null   int64
 32  dining_room                  1471 non-null   int64
 33  disability_features          1471 non-null   int64
 34  dishwasher                   1471 non-null   int64
 35  energy_efficient             1471 non-null   int64
 36  ensuite                      1471 non-null   int64
 37  family_room                  1471 non-null   int64
 38  farm                         1471 non-null   int64
 39  fenced_yard                  1471 non-null   int64
 40  fireplace                    1471 non-null   int64
 41  floor_plan                   1471 non-null   int64
 42  forced_air                   1471 non-null   int64
 43  front_porch                  1471 non-null   int64
 44  garage_1_or_more             1471 non-null   int64
 45  garage_2_or_more             1471 non-null   int64
 46  garage_3_or_more             1471 non-null   int64
 47  groundscare                  1471 non-null   int64
 48  hardwood_floors              1471 non-null   int64
 49  high_ceiling                 1471 non-null   int64
 50  laundry_room                 1471 non-null   int64
 51  master_bedroom               1471 non-null   int64
 52  modern_kitchen               1471 non-null   int64
 53  new_roof                     1471 non-null   int64
 54  open_floor_plan              1471 non-null   int64
 55  park                         1471 non-null   int64
 56  ranch                        1471 non-null   int64
 57  recreation_facilities        1471 non-null   int64
 58  rental_property              1471 non-null   int64
 59  shopping                     1471 non-null   int64
 60  single_story                 1471 non-null   int64
 61  swimming_pool                1471 non-null   int64
 62  trails                       1471 non-null   int64
 63  two_or_more_stories          1471 non-null   int64
 64  updated_kitchen              1471 non-null   int64
 65  view                         1471 non-null   int64
 66  views                        1471 non-null   int64
 67  washer_dryer                 1471 non-null   int64
 68  sold_month                   1471 non-null   int32
 69  sold_year                    1471 non-null   int32
 70  list_month                   326 non-null    float64
 71  list_year                    326 non-null    float64
 72  time_on_market               326 non-null    float64
dtypes: bool(1), float64(12), int32(2), int64(47), object(11)
memory usage: 828.9+ KB
None

,baths,baths_full,baths_half,beds,garage,lot_sqft,sold_price,sqft,stories,type,year_built,is_price_reduced,list_price,city,lat,lon,postal_code,state,state_code,price_reduced_amount,property_id,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer,sold_month,sold_year,list_month,list_year,time_on_market
0,2.0,2.0,0.0,3.0,1.0,3485.0,259900,1963.0,2.0,single_family,1933.0,False,259900.0,Lincoln,40.783403,-96.696476,68502,Nebraska,NE,10000.0,8474302107,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,2024,12.0,2023.0,43.0
1,4.0,3.0,1.0,6.0,3.0,13939.0,644000,4006.0,2.0,single_family,1996.0,False,639000.0,Lincoln,40.750953,-96.616857,68516,Nebraska,NE,0.0,7691862344,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,1,0,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,2024,9.0,2023.0,131.0
2,4.0,4.0,0.0,6.0,2.0,6098.0,355000,2774.0,2.0,single_family,1988.0,False,359900.0,Lincoln,40.859955,-96.688860,68521,Nebraska,NE,0.0,7106649355,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2024,12.0,2023.0,39.0

**-Dataframe to CSV**

In [ ]:
# # print(df.info())
# df.shape
# df.head(1)

In [ ]:
df.to_csv('house_sales.csv', sep=',', header=True, index=False)

In [ ]:
# df_from_csv = pd.read_csv('house_sales')
# print(df_from_csv.shape)
# df_from_csv.head(1)

In [ ]:
df['property_id'].nunique()

1471

**-EDA**

In [ ]:
df.describe()

,baths,beds,lot_sqft,sqft,stories,year_built,list_price,lat,lon,basement,big_lot,big_yard,carport,central_air,central_heat,city_view,community_outdoor_space,community_security_features,community_swimming_pool,corner_lot,dining_room,disability_features,dishwasher,energy_efficient,ensuite,family_room,farm,fenced_yard,fireplace,floor_plan,forced_air,front_porch,garage_1_or_more,garage_2_or_more,garage_3_or_more,groundscare,hardwood_floors,high_ceiling,laundry_room,master_bedroom,modern_kitchen,new_roof,open_floor_plan,park,ranch,recreation_facilities,rental_property,shopping,single_story,swimming_pool,trails,two_or_more_stories,updated_kitchen,view,views,washer_dryer,sold_month,sold_year,list_month,list_year,time_on_market
count,1471.000000,1469.000000,1.470000e+03,1468.000000,1468.000000,1471.000000,1.471000e+03,1465.000000,1465.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,1471.000000,326.000000,326.000000,326.000000
mean,2.135282,3.059905,1.382139e+05,1814.297636,1.463215,1866.154997,4.305755e+05,39.140710,-89.598922,0.435078,0.124405,0.072060,0.064582,0.512576,0.164514,0.151598,0.464990,0.198504,0.088375,0.078858,0.205303,0.052345,0.447315,0.069341,0.085656,0.154317,0.086336,0.147519,0.408566,0.121686,0.404487,0.060503,0.563562,0.370496,0.057784,0.051666,0.327668,0.058464,0.276683,0.050986,0.071380,0.110129,0.069341,0.061863,0.076139,0.225017,0.109449,0.237933,0.394290,0.053025,0.055744,0.393610,0.101292,0.196465,0.052345,0.274643,4.838205,2023.614548,9.432515,2022.996933,79.791411
std,1.157078,1.441107,3.635947e+06,1320.101637,0.816920,428.310282,8.728787e+05,3.893088,15.743319,0.495936,0.330155,0.258675,0.245870,0.500012,0.370867,0.358752,0.498942,0.399010,0.283936,0.269609,0.404060,0.222798,0.497386,0.254119,0.279951,0.361375,0.280955,0.354743,0.491736,0.327034,0.490959,0.238498,0.496112,0.483102,0.233414,0.221426,0.469523,0.234698,0.447510,0.220043,0.257546,0.313157,0.254119,0.240988,0.265310,0.417736,0.312308,0.425963,0.488864,0.224160,0.229505,0.488716,0.301817,0.397459,0.222798,0.446486,4.953216,0.486867,2.455772,0.166382,73.381151
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00,21.277707,-157.810583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2023.000000,1.000000,2021.000000,-125.000000
25%,1.000000,2.000000,5.227000e+03,1197.750000,1.000000,1930.000000,1.990000e+05,36.087115,-96.616857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2023.000000,8.000000,2023.000000,41.000000
50%,2.000000,3.000000,7.607000e+03,1591.500000,1.000000,1969.000000,3.180000e+05,39.722648,-84.817319,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2024.000000,10.000000,2023.000000,65.000000
75%,3.000000,4.000000,1.350400e+04,2162.250000,2.000000,1995.000000,4.794500e+05,41.800954,-76.887390,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,11.000000,2024.000000,11.000000,2023.000000,97.750000
max,9.000000,12.000000,1.390435e+08,32106.000000,10.000000,2023.000000,2.706500e+07,47.174260,-71.006343,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.000000,2024.000000,12.000000,2024.000000,821.000000

In [ ]:
# Drop rows with non-numeric or empty values in 'sold_price'
df = df[df['sold_price'].astype(str).str.isnumeric()]

# Convert 'sold_price' column to integer
df['sold_price'] = df['sold_price'].astype(int)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

corr_matrix = df.corr()
plt.figure(figsize=(15, 12))
sns.heatmap(corr_matrix[['sold_price']], annot=True, cmap='coolwarm', fmt=".2f")
plt.show()

ValueError: could not convert string to float: 'single_family'

In [ ]:
y = df["sold_price"]
X = df.drop("sold_price")

cat_feats = df.dtypes[df.dtypes == 'object'].index.tolist()
num_feats = df.dtypes[~df.dtypes.index.isin(cat_feats)].index.tolist()

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

**-To Be Continued...**<br>
-Ensure ordinal datatype is all the same (Example 3 and 3.0 should both jsut be 3)<br>
-Change Boolean values to Binary<br>
-Normalize or Scale Data<br>
-Create Mean House Sale Value by City Column<br>

-Complete JSONFramer

In [ ]:
# JSONFramer = JSONFramer('../data')
# df = JSONFramer.frame().dropna_target()
# # df = JSONFramer.dropna_target()
# df.info()

In [ ]:
# JSONFramer = JSONFramer('../data')
# df = JSONFramer.frame()
# df.reset_index(drop=True, inplace=True)
# df.info()

To be continued...